<p>Contact Us</p>
<div>  
    <form #contactInfo = "ngForm" (ngSubmit) = "onSubmit(contactInfo.value)" >

        <div>
            <label>Name : </label>
            <input type="text" name = "name" ngModel>
        </div>

        <div>
            <label>Contact Number : </label>
            <input type="text" name = "phoneNumber" ngModel>
        </div>   

         <div>
            <label>Email : </label>
            <input type="email" name = "email" ngModel>
        </div>

        <div>
            <label>Message : </label>
            <textarea rows="10" cols="70" name = "message" ngModel></textarea>
        </div>
        
        <div>
            <button class="button" type="submit">Send Message</button>
        </div>

      </form>
</div>